# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# not required components

# React-Interview-Questions
# src\components\button\
# src\components\imageToText\
# src\components\imageToText\
# src/components/InputSumTest\
# src\components\InputSumTest\
# src\components\restaurant\
# src\App.xxx2test.js
# src\App.xxxtest.js

# ignore all directories with the name test
src/components/

# trying to negate a file inside an ignored directory won't work
!src/components/interview/InterviewQuestions.jsx

**/components/*


# production
/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
